@if(title==='RE Login')
<script src="/asset/js/login.js"></script>
@end
@if(title==='New Service Entry')
<script src="/asset/vendor/preline/dist/preline.js"></script>
<script src="/asset/js/app.js"></script>
@end
</body>

</html>
