<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/asset/img/favicon.png">
    <link href="/asset/css/output.css" rel="stylesheet">
    @if(title==='RE Login')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta title="csrf-token" content="{{csrfToken}}" />
    @end

    @if(title==='New Service Entry')
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <meta title="csrf-token" content="{{csrfToken}}" />
    @end

    @if(title==='Vehicle Service Monitoring')
    <link href="/asset/css/output.css" rel="stylesheet">
    <meta title="csrf-token" content="{{csrfToken}}" />
    @end

    @if(title==='RE Vehicle Status')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    @end
</head>